body {
  background-color: $primary;
}
.navbar-nav{
    padding: 10px;
  

}
.nav-item{
    background-color: $white;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    text-align: center;
     
    
}
