body {
  background-color: $primary;
}
.navbar-nav{
    padding: 10px;
  

}
.nav-item{
    background-color: $white;
    border-radius: 15px;
    margin: 5px;
    padding: 0 10px;
    margin-top: 30px;
    // width: 130px;
    // height: 40px;
    text-align: center;
    font-size: 15px;

     
    
}
.nav-item:hover{
  
    background-color: $tertiary;
}
.nav-item a:hover{
    color: $white;
}
