.text_section2{
    animation: rotate 3s infinite alternate;

}
@keyframes rotate{
    0%{
       transform: translateY(-50px);
    }
  
    100%{
       transform: translateY(20px);
    }
}
.input-group{
    animation: translate 2s ease-in-out alternate;
}
@keyframes translate{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}

.image_formateur{
    transition: transform 0.5s ease-in-out;
}
.image_formateur:hover{
    transform: rotate(360deg);
}
 #titre_section4{
    animation: translate 2s ease-in-out alternate;
 }
 @keyframes translate{
     0%{
         transform: translateX(-1000px);
     }
     100%{
         transform: translateX(0px);
     }
 }