.text_section2{
    animation: translate 3s ease-in;

}
@keyframes translate{
    0%{
       transform: translateX(-1000px);
    }
  
    100%{
       transform: translateX(0px);
    }
}
#input-group{
    animation: translate 2s ease-in-out alternate;
}
@keyframes translate{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}

.image_formateur{
    transition: transform 0.5s ease-in-out;
}
.image_formateur:hover{
    transform: rotateY(360deg);
}
 #titre_section4{
    animation: translate 2s ease-in-out alternate;
 }
 @keyframes translate{
     0%{
         transform: translateX(-1000px);
     }
     100%{
         transform: translateX(0px);
     }
 }
 .spinner{
  animation: spinner 4s infinite ease;

 }
 .spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
