.text_section2{
    animation: rotate 3s infinite alternate;

}
@keyframes rotate{
    0%{
       transform: translate(-100px);
    }
  
    100%{
       transform: translate(100px);
    }
}
.input-group{
    animation: translate 2s ease-in-out alternate;
}
@keyframes translate{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}