{# {% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <h1>Bienvenue sur la plateforme éducative</h1>
<p>Symfony fonctionne parfaitement ✅</p>

{% endblock %} #}
