{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
 <main class="main_connexion">
     <form class="formaulaire_connexion" method="post">
         <label for="email">Email</label><br>
         <input type="email" id="email" name="email" required><br>
         <label for="password">Mot de passe</label><br>
         <input type="password" id="password" name="password" required><br>
         <p><a class="text-decoration-none" href="#">Mot de passe oublieÌ ?</a></p>
         <p>Vous n'avez pas de compte ? <a class="text-decoration-none" href="{{ path('inscription') }}">Inscrivez-vous</a></p>
         <button class="button-cours w-50 mx-auto text-center mt-3" type="submit">Se connecter</button>
     </form>

 </main>
{% endblock %}
