@import"../../node_modules/bootstrap/scss/bootstrap.scss";
@import"variables";
 @import "animation";
 @import"Accueille";
 @import"cours_en_communication";
 @import "contact";
 @import "description_cours";
 @import "A_propos";
 @import "Articles_techniques";
 @import "livres_informatique";
 