@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "animation";
@import "Accueille";
@import "contact"; 
@import "dark_mode";
// @import "description_cours";
// @import "Articles_techniques";
// @import "A_propos";
// @import "livres_informatique";
// @import "cours_en_communication";
